@charset "utf-8";

/* 초기화 */
html {height:100%}
body {margin:0;padding:0;font-size:0.75em;font-family:'Malgun Gothic', dotum, sans-serif;background:#f3f3f3; height:100%;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Malgun Gothic', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}

textarea, select {font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {text-decoration:none}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.calendar { background: url("../../_static/img/calendar.png") no-repeat right; background-position: 95%;}

.sh_submit{border: none; background:#262f3c; color: #fff; padding: 2px 15px; text-align: center;}

#smart_container{min-width:1200px; height:100%;}
#smart_container .menu_Content{position:fixed; top:0; left:0; height:100%; width:220px; background:#262f3c;}
#smart_container .body_{margin-left:220px; height:100%;}

#smart_container .body_ .body_Header{background:#039be5; color:#fff; padding:15px; position:fixed; width:calc(100% - 220px)}
.body_Header h2{font-size:1.5em;}
.body_Header .bh_title{padding-bottom:10px;}
.body_Header .bh_title .btn{border:1px solid #ddd; color:#fff; padding:2px 5px;}
.body_Header .bh_title .float_right{float:right;}

#smart_container .body_ .body_Content{padding-top:80px; height:100%;}


.mcont_bh{padding:34px 0 34px 20px; text-align:left; border-bottom:1px solid #344052; color:#cccccc; font-size:1.5em; font-weight:600;}
.mcont_bh p{ line-height:1em; font-size:16px; margin-top:7px; color:#546682;}


.body_cont_float{height:100%;}
.body_cont_float ul{height:100%;}
.body_cont_float ul li{float:left; height:100%; display:block;}
.body_cont_float ul li:nth-child(1){width:30%; padding:20px; background:#f8f8f8; border-right:1px solid #ddd;}
.body_cont_float ul li:nth-child(2){width:70%; padding:20px;}
.body_cont_float ul:after{clear:both; display:block; visibility:hidden; content:'';}


.body_cont_float1{height:100%;}
.body_cont_float1 ul{height:100%;}
.body_cont_float1 ul li{float:left; height:100%; display:block;}
.body_cont_float1 ul li:nth-child(1){width:40%; padding:20px; background:#f8f8f8; border-right:1px solid #ddd;}
.body_cont_float1 ul li:nth-child(2){width:60%; padding:20px;}
.body_cont_float1 ul:after{clear:both; display:block; visibility:hidden; content:'';}


.body_cont_float2{height:100%;}
.body_cont_float2 ul{height:100%;}
.body_cont_float2 ul li{float:left; height:100%; display:block;}
.body_cont_float2 ul li:nth-child(1){width:60%; padding:20px; background:#f8f8f8; border-right:1px solid #ddd;}
.body_cont_float2 ul li:nth-child(2){width:40%; padding:20px;}
.body_cont_float2 ul:after{clear:both; display:block; visibility:hidden; content:'';}


.bc_search{padding:20px 10px; border:1px solid #ddd; margin-bottom:10px;}
.bc_search input{border:1px solid #ddd; padding:5px 7px;}
.bc_search label {color: #999;}
.bc_search select{border:1px solid #ddd; padding:4px 7px;}
.bc_search .search_submit{border:none; background:#262f3c; color:#fff; padding:2px 15px; text-align:center;}

.nbsp{display:inline-block; width:30px;}



.formBox{font-size:1.1em;}
.formBox h3{font-size:1.4em; color:#777; padding-bottom:20px; border-bottom:1px solid #ddd; margin-bottom:20px;}
.formBox select{width:100%; border:1px solid #ddd; padding:7px 10px;}
.formBox p{margin-bottom:10px;}
.formBox p label{padding-bottom:7px; color:#777; display:inline-block;}
.formBox input[type=text]{ width:100%; border:1px solid #ddd; padding:7px 10px; box-sizing : border-box;}
.formBox input[type=submit]{ width:100%; border:1px solid #ddd; padding:7px 10px; background:#039be5; color:#fff; font-size:1.5em; box-sizing : border-box;}
.formBox input[type=radio]{ zoom:2; border:1px solid #ddd;}



.tbl-content {max-height:700px; overflow-y:auto; margin-bottom:15px;}
.tbl-content table { border-collapse:collapse; border-top:2px solid #ff5b5b; border-bottom:2px solid #888; font-size: 1em; }
.tbl-content table.none_border{border-top:1px solid #ddd; border-bottom:1px solid #ddd;}

.tbl-content table.none_border th{min-width:80px;}
    
.tbl-content table th { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:10px;}
.tbl-content table td { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:10px; word-break: break-all; white-space: inherit; }
.tbl-content table td.rl_board{ border-left:2px solid #ff5b5b; border-right:2px solid #ff5b5b;}
.tbl-content table td.list_none {padding:49px 0; color:#999; text-align:center;}

.tbl-content table thead { background: #f8f8f8; }
.tbl-content table thead th { word-break: break-all; white-space: nowrap; text-align:center;  }
.tbl-content table th .re{color:#f00; position:absolute; top:5px; right:10px;}
.tbl-content table thead th.rl_board{ border-left:2px solid #ff5b5b; border-right:2px solid #ff5b5b; background:#ff5b5b; color:#fff;}
.tbl-content table tbody tr:nth-child(1n) { background: #fff; }
.tbl-content table tbody tr:nth-child(2n) { background: #eee; }

.tbl-content table tbody tr.page_text { background:#e8ffa0; }

.tbl-content table th:last-child { border-right:0 }

.tbl-content table td:last-child { border-right:0; /*width: 70px;*/ text-align: center;}
.formContainer .tbl-content table td:last-child { text-align: left; }

.tbl-content table tbody tr.over{background:#fffed0;}

.tbl-content h3{margin-bottom:7px;}
.tbl-content td.cen{text-align:center;}
.tbl-content td.right{text-align:right;}


i,.material-icons{vertical-align:middle;}

span.btn{padding:5px 7px; background:#333; font-size:1.15em; color:#fff; cursor:pointer;}
span.btni{padding:5px; background:#7384ab; color:#fff; font-size:1.15em; /*border:1px solid #ddd;*/ cursor:pointer;}

a.alink{border:1px solid #ddd; padding:5px 8px; line-height:24px; font-size:14px; background:#262f3c; color:#fff;}





#pop_container{
	display:none;
	min-height:100%; width:100%; background-color:rgba(0,0,0,.5); position:fixed; position:-ms-page; top:0; left:0;
}
#pop_container .info_content{position:fixed; top:-50%; left:50%; height:90%; transform:translate(-50%, -50%); background:#fff;}
#pop_container .info_content h2{font-size:1.2em; line-height:24px; padding:10px 15px; background-color: rgb(59, 77, 115); color: #fff;}
#pop_container .info_content span.close{float:right; cursor:pointer; color:#fff; opacity:unset;}
#pop_container .ajaxContent{height:100%;}


#loading{display:block; text-align:center; display:none;}




.bc_header{padding:20px 30px; border-bottom:1px solid #ddd; overflow:hidden;}
.bc_header form{float:left;}
.bc_header input{border:1px solid #ddd; padding:5px 7px;}
.bc_header select{border:1px solid #ddd; padding:4px 7px;}
.bc_header label{color:#999;}
.bc_header label:after{content:':'; padding-left:5px;}
.bc_header .search_submit{border: none; background:#262f3c; color: #fff; padding: 2px 15px; text-align: center;}

.none_padding{padding:0; margin-bottom:7px; border:none; min-height:36px;}

.btn_right{float:right;}

.bc_cont{margin:20px; /*height:80%;*/}
.bc_cont .cont_header{padding-left:20px; margin:20px 0; font-size:1.2em;}
.bc_cont .cont_body{background:#fff; overflow:hidden; height:100%; padding:30px; border:1px solid #ddd; border-radius:20px;}

.bc_cont .cont_body .tbl-content{}


.link_s1{color:#194bff; cursor:pointer; font-weight:600;}

.ac_table {margin-bottom:20px;}
.ac_table table{ border-collapse:collapse; border:1px solid #ddd; font-size: 1em; width:100%; background:#fff; }
.ac_table table th { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:10px; background:#e8f1ff; text-align:center; width:100px;}
.ac_table table td { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:10px; word-break: break-all; white-space: inherit; }
