@charset "utf-8";

/* 초기화 */
html {overflow-y:scroll; height:100%}
body {margin:0;padding:0;font-size:0.75em;font-family:'Malgun Gothic', dotum, sans-serif;background:#f3f3f3; height:100%;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Malgun Gothic', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}

textarea, select {font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input[type=text],input[type=password], textarea {
	-webkit-transition:all 0.30s ease-in-out;
	-moz-transition:all 0.30s ease-in-out;
	-ms-transition:all 0.30s ease-in-out;
	-o-transition:all 0.30s ease-in-out;
	outline:none;
}

input[type=text]:focus,input[type=password]:focus, textarea:focus,select:focus {
	-webkit-box-shadow:0 0 5px #9ed4ff;
	-moz-box-shadow:0 0 5px #9ed4ff;
	box-shadow:0 0 5px #9ed4ff;
	border:1px solid #558ab7 !important;
}

i { vertical-align: middle; }

.add { background:#ff4141; color:#fff; border:1px solid #ff4141;}
.add i { font-size: 16px; margin:-4px 0 0 -3px;}

.print {}
.print i { font-size: 16px; margin:-3px 0 0 -3px; }


.mod { border: 0; padding: 3px 8px; background: #333; color: #fff; cursor:pointer; }

.tbl-content {max-height:700px; overflow-y:auto; margin-bottom:15px;}
.tbl-content table { border-collapse:collapse; border-top:2px solid #ff5b5b; border-bottom:2px solid #888; font-size: 1em; }
.tbl-content table.none_border{border-top:1px solid #ddd; border-bottom:1px solid #ddd;}

.tbl-content table.none_border th{min-width:80px;}
    
.tbl-content table th { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:10px;}
.tbl-content table td { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:6px 10px; word-break: break-all; white-space: inherit; }
.tbl-content table td.rl_board{ border-left:2px solid #ff5b5b; border-right:2px solid #ff5b5b;}
.tbl-content table td.list_none {padding:49px 0; color:#999; text-align:center;}

.tbl-content table thead { background: #f8f8f8; }
.tbl-content table thead th { word-break: break-all; white-space: nowrap;  }
.tbl-content table thead th.rl_board{ border-left:2px solid #ff5b5b; border-right:2px solid #ff5b5b; background:#ff5b5b; color:#fff;}
.tbl-content table tbody tr:nth-child(1n) { background: #fff; }
.tbl-content table tbody tr:nth-child(2n) { background: #eee; }

.tbl-content table tbody tr.page_text { background:#e8ffa0; }

.tbl-content table th:last-child { border-right:0 }

.tbl-content table td:last-child { border-right:0; /*width: 70px;*/ text-align: center;}
.formContainer .tbl-content table td:last-child { text-align: left; }

.tbl-content table tbody tr.over{background:#fffed0;}

.tbl-content h3{margin-bottom:7px;}




/* dsfsf */
.tbl-content3 {max-height:700px; overflow-y:auto; margin-bottom:15px; border: 5px solid #d05a5a;}
.tbl-content3 table { border-collapse:collapse; border:4px solid #888; font-size: 1em; }
.tbl-content3 table.none_border{border-top:1px solid #ddd; border-bottom:1px solid #ddd;}

.tbl-content3 table.none_border th{min-width:80px;}
    
.tbl-content3 table th { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:10px;}
.tbl-content3 table td { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:15px 0; font-size:2.5em; color:#666; word-break: break-all; white-space: inherit; }
.tbl-content3 table td.rl_board{ border-left:2px solid #ff5b5b; border-right:2px solid #ff5b5b;}
.tbl-content3 table td.list_none {padding:49px 0; color:#999; text-align:center;}

.tbl-content3 table thead { background: #fff; }
.tbl-content3 table thead th { word-break: break-all; white-space: nowrap; font-size:1.5em; padding:15px 0; background:#888; color:#fff;  }
.tbl-content3 table thead th.rl_board{ border-left:2px solid #ff5b5b; border-right:2px solid #ff5b5b; background:#ff5b5b; color:#fff;}
/*.tbl-content3 table tbody tr:nth-child(1n) { background: #fff; }
.tbl-content3 table tbody tr:nth-child(2n) { background: #eee; }*/

.tbl-content3 table tbody tr.page_text { background:#e8ffa0; }
.tbl-content3 table tbody tr.over{background:#fffed0;}
.tbl-content3 h3{margin-bottom:7px;}







table td.cen{text-align:center;}
table td.right{text-align:right;}

/* 11 */
#left_sbox{padding:0; margin:0; list-style:none; display:block; border:1px solid #ddd; overflow:hidden;}
#left_sbox li{float:left; border-left:1px solid #ddd; text-align:center; width:90px; line-height:50px;}
#left_sbox li:first-child{border:unset;}
#left_sbox li h4{border-bottom:1px solid #ddd; padding:10px 0; line-height:20px;}
#left_sbox:after{clear:both; display:block; visibility:hidden; content='';}


.tbl-content02 {}
.tbl-content02 h2{margin-bottom:10px;}
.tbl-content02 table { border-collapse:collapse; border-top:2px solid #ff5b5b; border-bottom:2px solid #888; }
    
.tbl-content02 table th { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:10px;}
.tbl-content02 table td { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:6px 10px;}
.tbl-content02 table thead { background: #f5f5f5; }
.tbl-content02 table th:last-child { border-right:0 }
.tbl-content02 table td:last-child { border-right:0; }


.tbl-write01 {}
.tbl-write01 table { border-collapse:collapse; border-top:2px solid #ff5b5b; border-bottom:2px solid #888; }

.tbl-write01 table thead { background: #f5f5f5; }

.tbl-write01 table tbody {}	
.tbl-write01 table tbody th { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:10px; position:relative;}
.tbl-write01 table tbody td { border-bottom:1px solid #ddd; border-right : 1px solid #ddd; padding:6px 10px; word-break:break-all; white-space:inherit;}

.tbl-write01 table tbody th.w120{width:120px;}
.tbl-write01 table tbody th.w150{width:150px;}
.tbl-write01 table tbody th.w180{width:180px;}

.tbl-write01 table th .re{color:#f00; position:absolute; top:5px; right:10px;}
.tbl-write01 table th .re:after{content:"*"; font-size:16px; font-weight:600;}

.tbl-write01 table th:last-child { border-right:0; }
.tbl-write01 table td:last-child { border-right:0; }

.gray{color:#999;}


.link_s1{color:#194bff; cursor:pointer; font-weight:600;}


a.none_code{color:#999;}



span.yn{background:#ff5b5b}
span.xn{background:#c3c3c3}


.mcont_hd .login_b {font-size:12px; /*margin-top:50px;*/ width:100%; /*position:absolute;*/ background:#333; right:0; /*height:50px;*/ line-height:50px; text-align: center;}
.mcont_hd .l_btn { padding:5px; background: #f6d50e; border-radius: 3px; }
#smart_container{min-width:1200px; padding: 0 0 0px 220px; height:100%;}

#smart_container .menu_Content{
	width:12%;
	position:fixed;
	top:0;
	left:0;
	height:100%;
    background:#262f3c;
    /*z-index: 100;*/
    /*box-shadow: -5px 2px 16px #000;
    -webkit-box-shadow: -5px 2px 16px #000;
    -moz-box-shadow: -5px 2px 10px #ddd;*/
}
#smart_container .menu_Content .mControl{position:absolute; top:5px; right:18px; width:20px; text-align:center; cursor:pointer; color:#fff; background:#ff5b5b; z-index: 10;}
#smart_container .menu_Content .mControl .mhide{display:block; padding-top:2px;}
#smart_container .menu_Content .mControl .mhide span{margin-left:-3px;}
#smart_container .menu_Content .mControl_show {display: none; position:absolute; top:5px; right:-55px; width:40px; height: 40px; text-align:center; cursor:pointer; color:#fff; background:#ff5b5b; z-index: 10; border-radius: 5px;}
#smart_container .menu_Content .mControl_show i { line-height: 40px; font-size: 2em; }


#smart_container .menu_Content .mcont_hd{/*background:#ff5b5b;*/ color: #fff; padding:30px 0; text-align:center; position: relative;}

#smart_container .body_ {margin-left:12%; width:88%; position:absolute;}
#smart_container .body_Content{
	/*margin-left:200px;*/
	/*padding:50px 30px;*/
	height:100%;
}

.body_Header{background:#039be5; color:#fff; padding:15px; position:fixed; width:100%;}
.body_Header h2{font-size:1.5em;}
.body_Header .bh_title{padding-bottom:10px;}
.body_Header .bh_title .btn{border:1px solid #ddd; color:#fff;}
.body_Header .bh_title .float_right{float:right;}



.body_cont_float{height:90%;}
.body_cont_float ul{height:100%;}
.body_cont_float ul li{float:left; height:100%; display:block;}
.body_cont_float ul li:nth-child(1){width:30%; padding:20px; background:#ddd;}

.body_cont_float ul:after{clear:both; display:block; visibility:hidden; content:'';}



#smart_container .body_Content .bdcont{ width:50%; float:left; padding-top:20px }
#smart_container .body_Content .bdcont_40{width:40%; float:left; padding-top:20px}
#smart_container .body_Content .bdcont_60{width:60%; float:left; padding-top:20px}

#smart_container .body_Content .bdcont_100{width:100%;padding-top: 20px;}
.bc__box {padding:10px; /*max-width:1000px;*/}
.bc__box header{margin-bottom:7px; /*padding:15px 0;*/}
.bc__box header input{border:1px solid #ddd; padding:5px 7px; margin: 3px 4px;}
.bc__box header label{color:#999; font-weight:600;}
.bc__box header label:after{content:" : ";}
.bc__box header .print{float:right;}
.bc__box header strong{padding:3px 0; display:inline-block;}
.bc__box header .search_submit{ border:none; background:#414350; color:#fff; padding:4px 15px; text-align:center;}
.bc__box header .search_submit i { font-size: 1.7em; }
.bc__box header:after{clear:both; display:block; visibility:hidden; content:""}
.calendar { background: url(/rain_code1/_static/img/calendar.png) no-repeat right; background-position: 95%;}

.bc__box100 {padding:10px;}
.bc__box100 header{margin-bottom:7px;}
.bc__box100 header input{border:1px solid #ddd; padding:5px 7px; margin: 3px 4px;}
.bc__box100 header label{color:#999; font-weight:600;}
.bc__box100 header label:after{content:" : ";}
.bc__box100 header .print{float:right;}
.bc__box100 header strong{padding:3px 0; display:inline-block;}
.bc__box100 header .search_submit{ border:none; background: #414350; color:#fff; padding:4px 15px; text-align:center;}
.bc__box100 header .search_submit i { font-size: 1.7em; }
.bc__box100 header:after{clear:both; display:block; visibility:hidden; content:""}

.row_input{border:1px solid #ddd; text-align:right; padding:2px 7px; color:#999;}
.row_input:hover{color:#444}



#smart_container .body_Content:after{clear:both; display:block; visibility:hidden; content:""}




#pop_container{
	display:none;
	min-height:100%; width:100%; background-color:rgba(0,0,0,.5); position:fixed; position:-ms-page; top:0; left:0;
}
#pop_container .info_content{position:fixed; top:-50%; left:50%; height:90%; transform:translate(-50%, -50%); background:#fff;}
#pop_container .info_content h2{font-size:1.2em; line-height:24px; padding:10px 15px; background-color: rgb(59, 77, 115); color: #fff;}
#pop_container .info_content span.close{float:right; cursor:pointer; color:#fff; opacity:unset;}
#pop_container .ajaxContent{height:100%;}


#loading{display:block; text-align:center; display:none;}


/* 버튼 -- span */


span.btn{display:inline-block; border:1px solid #ddd; padding:2px 5px; cursor:pointer;}
span.btn_right{display:inline-block; border:1px solid #ddd; padding:2px 5px; cursor:pointer; float:right;}
a.btn{display:inline-block; border:1px solid #ddd; padding:2px 5px; cursor:pointer;}

.c_red{ background:#f00; color:#fff; border:1px solid #f00;}



/* 버튼 -- span end */


.w100p{width:100%;}
.w50p{width:50%;}
.w30p{width:30%;}
.w20p{width:20%;}


.search_box{ margin-bottom:10px;}

.update_text{margin-bottom:10px;}
.update_text span:nth-child(1){color:#f00;}
.update_text span:nth-child(2){color:#888;}
.update_text:after{clear:both; display:block; visibility:hidden; content:'';}


#pageTitle{font-size:1.45em; padding-left:25px; position: absolute; width: 100%; top: 0; left: 0; height: 50px; line-height: 50px; background:#18aaff; color: #fff;}
#pageTitle:before{/*content:"●"; float:left; font-size:0.8em; margin-right:10px;*/}




/* Table style */

.table_type1{}


.searchBox{padding:30px 10px 0;}
.searchBox label{color: #999; font-weight: 600;}
.searchBox input{border: 1px solid #ddd; padding: 5px 7px; margin: 3px 4px;}
.searchBox .search_submit{border: none; background: #414350; color: #fff; padding: 4px 15px; text-align: center;}



/*로그인창*/

.register_login { /*position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);*/ }
.login_box { width:300px;}






